# Backend Java / Spring Boot


# Frontend Angular / Node
farmacia-frontend/node_modules/
farmacia-frontend/dist/
farmacia-frontend/.angular/

# IDE
.vscode/
.idea/
*.iml

# Sistema
.DS_Store
Thumbs.db

# Carpeta vieja duplicada
farmacia/

# Variables sensibles
.env
*.env
